<!DOCTYPE html>
<html lang="en">

<head>

    <% include ./css_sources.ejs %>
    <link rel="stylesheet" href="./css/diet_list.css">

</head>

<body>

  <div id="wrapper">

    <% include ./sidebar.ejs %>


        <!-- 컨텐츠 영역 -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="header" style="padding-left:90%; padding-top:1%; ">
                    <a href="/logout" class="btn btn-default btn-sm" style="background-color: rgb(200, 34, 38); color:white; font-size:1.1em; border-radius:7px" >로그아웃</a>
                  </div>
                  <div class="col-md-12" style="text-align: center; letter-spacing:5px">
                    <a href="#navigation-main" id="navigation_mobile" aria-label="Skip to main navigation"> <i class="fa fa-bars" aria-hidden="true"></i></a>
                  </div>
                </div>

                <div class="row">
              <% include ./calendar.ejs %>

              <!-- 식단 기록 영역 -->
              <div class="col-md-7">
                <h4 style="color:rgb(200, 34, 38); text-align:center">식단기록</h4>
              </br>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                  <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title"> <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> 아침 </a> </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body">아침내용 </div>
                    </div>
                </div>

                <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title"> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 점심 </a> </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body"> 점심내용 </div>
                </div>
              </div>
            </div>

              <div class="btn-group">
              <button type="button" id="add_dietlist_btn" class="btn btn-default btn-circle btn-lg btn-primary dropdown-toggle" data-toggle="dropdown"><i id="plus" class="glyphicon glyphicon-plus"> <span class="caret"></span></i></button>
                     <!-- <button type="button" class="btn btn-default btn-primary dropdown-toggle" data-toggle="dropdown"> 클릭   <span class="caret"></span> -->
                    </button>
                  <ul class="dropdown-menu" role="menu">
                   <li><a href="#">아침</a></li>
                   <li><a href="#">점심</a></li>
                   <li><a href="#">저녁</a></li>
                   <li><a href="#">간식</a></li>
                 </ul>
               </div>

              </div>
              <!-- col-md-7 -->

              </div>
               <!-- row -->

               <div class="container">
               <!-- Modal 윈도우 선언-->
                  <div class="modal modal-center fade" id="diet_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                      <!-- 모달 다이얼로그 -->
                      <div class="modal-dialog modal-center">
                          <!-- 모달 콘텐츠 -->
                          <div class="modal-content">
                              <!-- modal-header -->
                              <div class="modal-header">
                                  <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">식단 입력</h4>
                                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                              </div>
                              <!-- modal-body -->
                              <div class="modal-body">
                                <form role="form" class="form-inline">
                                    <div class="form-group">
                                        <textarea type="text" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <button type="submit">확인</button>
                                    </div>
                                </form>
                              </div>
                          </div>
                          <!-- 모달 콘텐츠 -->
                      </div>
                      <!-- 모달 다이얼로그 -->
                  </div>
                  <!-- 모달 전체 윈도우 -->
                </div>


             </div>
             <!-- /# container-fluid -->

      </div>
      <!-- /#page-content-wrapper -->


     </div>
     <!-- /#wrapper -->

        <script src="./js/diet_list.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
        // Toggle Menu 누를 때 왼쪽 사이드바 등장
        // $("#menu-toggle").click(function(e) {
        //     e.preventDefault();
        //     $("#wrapper").toggleClass("toggled");
        // });

        // 토글 항시 활성화
        $("#wrapper").addClass("toggled");

        // 메뉴 버튼 누를 때 사이드바 토글 활성화
        $("#navigation_mobile").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });

        // + 버튼 누르면 라이트박스 등장(운동 추가 부분)
        $("#button_add_workout_list").click(function(){
          $('#lightbox').addClass('active');
          $('#block').addClass('active');
          $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
        });

        // 모바일 해상도에서 메뉴버튼 활성화, 사이드바 없애기
        if (window.matchMedia("(max-width: 768px)").matches) {
          $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
          $("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
        }

        // 768px이상 해상도에서 사이드바 등장
        if (window.matchMedia("(min-width: 768px)").matches) {
          // 라이트박스 닫기 할 경우 사이드바 등장
          $('.btn-close').click(function(){
            $("#wrapper").addClass("toggled"); // 사이드바 등장
        });
      }

        // 768px 해상도 변화에 따른 jquery
        var mql = window.matchMedia("screen and (max-width: 768px)");

        mql.addListener(function(e) {
        		if(e.matches) {
        				$("#wrapper").removeClass("toggled"); // 사이드바 퇴장
        				$("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
        		}
        		else {
        				$("#navigation_mobile").removeClass("active"); // 메뉴 버튼 비활성화
        		}
        	});

        </script>

    </body>

    </html>
