<!DOCTYPE html>
<html lang="en">

<head>

    <% include ./css_sources.ejs %>
    
</head>

<body>

    <div id="wrapper">

    <% include ./sidebar.ejs %>

        <!-- 컨텐츠 영역 -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12" style="text-align: center; letter-spacing:5px">
                    <a href="#navigation-main" id="navigation_mobile" aria-label="Skip to main navigation"> <i class="fa fa-bars" aria-hidden="true"></i></a>
                  </div>
                </div>

                <div class="row">
                <!-- 달력 영역 -->
                <div class="col-md-5">
                    <div id="calendar_wrap">
                      <div class="table-responsive" style="border:0">
                        <table class="table">
                          <caption id="caption" style="text-align:center">
                            <a href="#" id="prev">prev &lt;&nbsp;&nbsp;&nbsp;</a>
                            <span class="year"></span>년
                            <span class="month"></span>월
                            <a href="#" id="next">&nbsp;&nbsp;&nbsp;&gt; next</a>
                          </caption>
                          <thead>
                          <tr>
                            <th>일</th><th>월</th><th>화</th><th>수</th>
                            <th>목</th><th>금</th><th>토</th>
                          </tr>
                        </thead>
                          <tr>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                            <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                          </tr>
                        </table>

                        <form action="/process/showinfo" method="post" id="calendar_show">
                          <input id='calendar_input' name="dates" type="hidden"></input></form>

                    </div>
                </div>
              </div>
                <!-- div class="col-md-5"  -->

              <!-- 운동 목록 영역 -->
              <div class="col-md-7">
                <h4 style="color:rgb(200, 34, 38); text-align:center">운동목록</h4>
                <form action="/process/addinfo" method="post">
                <ul class="list-group" id="day_workoutlist">
                    <div>
                      <span>운동 동작을 등록하세요!</span>&nbsp;&nbsp;
                      <span><button type="submit" name="">등록하기</button></span>
                    <div>


                    <!-- <li class="list-group-item"><a href="#">기본 목록</a></li> -->
                </ul>

              <button type="button" id="button_add_workout_list" class="btn btn-default btn-circle btn-lg"><i id="plus" class="glyphicon glyphicon-plus"></i></button>
              </form>

              </div>
              <!-- col-md-7 -->

              </div>
               <!-- row -->

             </div>
             <!-- /# container-fluid -->

               <!-- 운동 목록 추가 & 운동 세부 목록 라이트창 열릴 때 배경색 설정 -->
               <div id="block"></div>

      </div>
      <!-- /#page-content-wrapper -->

      <!-- 운동 목록 추가 부분 -->
      <div id="lightbox">
        <div class="container-fluid">
          <ul class="nav nav-tabs add_workout_list_nav" id="list_tab" role="tablist">
              <h4>운동 목록 추가 &nbsp;&nbsp;</h4>
              <li class="active"><a href="#streching" aria-controls="streching" role="tab" data-toggle="tab" class="add_workout_list">스트레칭</a></li>
              <li><a href="#whole_body" aria-controls="whole_body" role="tab" data-toggle="tab" class="add_workout_list">전신 운동</a></li>
              <li><a href="#lower_body" aria-controls="lower_body" role="tab" data-toggle="tab" class="add_workout_list">하체 운동</a></li>
              <li><a href="#chest" aria-controls="chest" role="tab" data-toggle="tab" class="add_workout_list">가슴 운동</a></li>
              <li><a href="#back" aria-controls="back" role="tab" data-toggle="tab" class="add_workout_list">등 운동</a></li>
              <li><a href="#shoulder" aria-controls="shoulder" role="tab" data-toggle="tab" class="add_workout_list">어깨 운동</a></li>
          </ul>
          <!-- nav nav-tabs end -->

          <!-- 컨텐츠 사이 간격두기 -->
          <div style="background-color: rgb(213, 213, 213); height:3px;"> </div>

          <!-- add_workout_list_contents -->
          <div class="tab-content" id="tab-content">
          <div role="tabpanel" class="tab-pane fade in active" id="streching" >
            <ul class="list-group" id="list-group">
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>목 좌우로 굽협다 펴기</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>목 앞뒤로 굽협다 펴기</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>목 돌리기</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>가슴 펴고 오므리기</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>어깨 펴고 손등 하늘보기</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>어깨 돌리기</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="whole_body">
            <ul class="list-group" id="list-group">
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>루마니안 데프리프트</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>컨벤셔널 데드리프트</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스모 데드리프트</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스티프 데드리프트</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>케틀벨 데드리프트</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="lower_body">
            <ul class="list-group" id="list-group">
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스플릿 스쿼트</img></li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>에어 스쿼트</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>와이드 스쿼트</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스미스 스쿼트</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>백 스쿼트</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="chest">
            <ul class="list-group" id="list-group">
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스미스 벤치프레스</img></li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>닐링푸시업</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>덤벨 벤치프레스</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>플렛 벤치프레스</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>푸시업</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="back">
            <ul class="list-group" id="list-group">
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>오래매달리기</img></li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>렛풀다운</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>점핑풀업</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>뉴트럴그립 턱걸이</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>어시스트 친업</li>
            </ul>
          </div>

          <div role="tabpanel" class="tab-pane fade" id="shoulder">
            <ul class="list-group" id="list-group">
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스미스숄더프레스</img></li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>시티드아놀드프레스</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>시티드덤벨숄더프레스</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스탠딩 덤벨숄더프레스</li>
              <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스탠딩 아놀드프레스</li>
            </ul>
          </div>

        </div>
        <!-- tap contents -->


        <div class="btn-close">
          <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
        </div>

      </div>
        <!-- container-fluid end -->
     </div>
     <!-- lightbox end -->

     <!-- 운동 일지 부분(라이트박스2) -->



     <div class="container">
     <!-- Modal 윈도우 선언-->
        <div class="modal modal-center fade" id="goal_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <!-- 모달 다이얼로그 -->
            <div class="modal-dialog modal-center">
                <!-- 모달 콘텐츠 -->
                <div class="modal-content">
                    <!-- modal-header -->
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">기록 입력</h4>
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    </div>
                    <!-- modal-body -->
                    <div class="modal-body">
                      <form role="form" class="form-inline">
                          <div class="form-group">
                              <input type="number" class="form-control" id="set_num">
                              <label for="set_number">회</label>
                          </div>
                          <div class="form-group">
                              <input type="number" class="form-control" id="kg_num">
                              <label for="kg_number">kg</label>
                          </div>
                          <div class="form-group" id="set_workout_amt">
                              <button type="submit">확인</button>
                          </div>
                      </form>
                    </div>
                </div>
                <!-- 모달 콘텐츠 -->
            </div>
            <!-- 모달 다이얼로그 -->
        </div>
        <!-- 모달 전체 윈도우 -->
      </div>


     </div>
     <!-- /#wrapper -->

        <script src="./js/add_workout_list.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
        // Toggle Menu 누를 때 왼쪽 사이드바 등장
        // $("#menu-toggle").click(function(e) {
        //     e.preventDefault();
        //     $("#wrapper").toggleClass("toggled");
        // });

        // 토글 항시 활성화
        $("#wrapper").addClass("toggled");

        // 메뉴 버튼 누를 때 사이드바 토글 활성화
        $("#navigation_mobile").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });

        // + 버튼 누르면 라이트박스 등장(운동 추가 부분)
        $("#button_add_workout_list").click(function(){
          $('#lightbox').addClass('active');
          $('#block').addClass('active');
          $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
        });

        // 모바일 해상도에서 메뉴버튼 활성화, 사이드바 없애기
        if (window.matchMedia("(max-width: 768px)").matches) {
          $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
          $("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
        }

        // 768px이상 해상도에서 사이드바 등장
        if (window.matchMedia("(min-width: 768px)").matches) {
          // 라이트박스 닫기 할 경우 사이드바 등장
          $('.btn-close').click(function(){
            $("#wrapper").addClass("toggled"); // 사이드바 등장
        });
      }

        // 768px 해상도 변화에 따른 jquery
        var mql = window.matchMedia("screen and (max-width: 768px)");

        mql.addListener(function(e) {
        		if(e.matches) {
        				$("#wrapper").removeClass("toggled"); // 사이드바 퇴장
        				$("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
        		}
        		else {
        				$("#navigation_mobile").removeClass("active"); // 메뉴 버튼 비활성화
        		}
        	});

        </script>

    </body>

    </html>
