  <!-- Sidebar -->
  <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
          <li class="sidebar-brand">
              <span>
              <img src="/img/user.png" alt="user" id="user" style="weight:45px; height:45px">
              </span>
              <span>
                <a href="#"> <%= user.name %> 님 </br></a>
                <a href="#" id="weekly_amount"> 이번주 운동량 <strong>##</strong>회 </a>
              <span>
          </li>
          <li class="sidebar-menu">
              <div>
              <img src="/img/dashboard.png" alt="dashboard" id="dashboard" style="weight:23px; height:23px">
              </div>
              <a href="/dashboard">대시보드</a>
          </li>
          <li class="sidebar-menu">
              <div>
              <img src="/img/workout_list.png" alt="workout_list" id="workout_list" style="weight:30px; height:30px" >
              </div>
              <a href="/showinfo">운동일지</a>
          </li>
          <li class="sidebar-menu">
              <div>
              <img src="/img/diet.png" alt="diet" id="diet" style="weight:30px; height:30px" >
              </div>
              <a href="/showdiet">식단일지</a>
          </li>
          <hr/>
          <li class="sidebar-menu">
              <div>
              <img src="/img/setting.png" alt="setting" id="setting" style="weight:30px; height:30px" >
              </div>
              <a href="/profile">환경설정</a>
          </li>
      </ul>
  </div>
  <!-- /#sidebar-wrapper -->
