<!-- 운동 목록 추가 부분 -->
<div id="lightbox">
  <div class="container-fluid">
    <ul class="nav nav-tabs add_workout_list_nav" id="list_tab" role="tablist">
        <h4>운동 목록 추가 &nbsp;&nbsp;</h4>
        <li class="active"><a href="#streching" aria-controls="streching" role="tab" data-toggle="tab" class="add_workout_list">스트레칭</a></li>
        <li><a href="#whole_body" aria-controls="whole_body" role="tab" data-toggle="tab" class="add_workout_list">전신 운동</a></li>
        <li><a href="#lower_body" aria-controls="lower_body" role="tab" data-toggle="tab" class="add_workout_list">하체 운동</a></li>
        <li><a href="#chest" aria-controls="chest" role="tab" data-toggle="tab" class="add_workout_list">가슴 운동</a></li>
        <li><a href="#back" aria-controls="back" role="tab" data-toggle="tab" class="add_workout_list">등 운동</a></li>
        <li><a href="#shoulder" aria-controls="shoulder" role="tab" data-toggle="tab" class="add_workout_list">어깨 운동</a></li>
    </ul>
    <!-- nav nav-tabs end -->

    <!-- 컨텐츠 사이 간격두기 -->
    <div style="background-color: rgb(213, 213, 213); height:3px;"> </div>

    <!-- add_workout_list_contents -->
    <div class="tab-content" id="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="streching" >
      <ul class="list-group" id="list-group">
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>목 좌우로 굽협다 펴기</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>목 앞뒤로 굽협다 펴기</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>목 돌리기</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>가슴 펴고 오므리기</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>어깨 펴고 손등 하늘보기</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>어깨 돌리기</li>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="whole_body">
      <ul class="list-group" id="list-group">
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>루마니안 데프리프트</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>컨벤셔널 데드리프트</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스모 데드리프트</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스티프 데드리프트</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>케틀벨 데드리프트</li>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="lower_body">
      <ul class="list-group" id="list-group">
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스플릿 스쿼트</img></li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>에어 스쿼트</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>와이드 스쿼트</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스미스 스쿼트</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>백 스쿼트</li>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="chest">
      <ul class="list-group" id="list-group">
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스미스 벤치프레스</img></li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>닐링푸시업</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>덤벨 벤치프레스</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>플렛 벤치프레스</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>푸시업</li>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="back">
      <ul class="list-group" id="list-group">
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>오래매달리기</img></li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>렛풀다운</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>점핑풀업</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>뉴트럴그립 턱걸이</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>어시스트 친업</li>
      </ul>
    </div>

    <div role="tabpanel" class="tab-pane fade" id="shoulder">
      <ul class="list-group" id="list-group">
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스미스숄더프레스</img></li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>시티드아놀드프레스</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>시티드덤벨숄더프레스</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스탠딩 덤벨숄더프레스</li>
        <li class="list-group-item"><img src="#" onerror="this.src='img/default_image.png'"/>스탠딩 아놀드프레스</li>
      </ul>
    </div>

  </div>
  <!-- tap contents -->


  <div class="btn-close">
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
  </div>

</div>
  <!-- container-fluid end -->
</div>
<!-- lightbox end -->

<!-- 운동 일지 부분(라이트박스2) -->
<div id='lightbox2'>
 <div class="container-fluid">
   <div class="row">
     <div class="col-md-6">
       <!-- 동작 설명 사진 -->
       <img id="img_motion" src="<%= picture_path %>" onerror="this.src='../public/img/default_image.png'"/>
       <!-- 동작 제목 -->
       <div>
         <a id="title_motion"><%= motion_kor %></a></br>
         <a><%= motion_eng %></a>
       </div>
       <p><%= exp %></p>
     <!-- col-md-6 end-->
   </div>

     <div class="col-md-6" id="plan_workout_table">
       <ul class="list-group" id="plan_workout_ul">
         <li class="list-group-item">
           <p>set1</p>
           <span> <a>0</a>회 </span>
           <span> <a>0</a>kg </span>
         </li>
         <li class="list-group-item">
           <p>set2</p>
           <span> <a>0</a>회 </span>
           <span> <a>0</a>kg </span>
        </li>
         <li class="list-group-item">
           <p>set3</p>
           <span> <a>0</a>회 </span>
           <span> <a>0</a>kg </span>
        </li>
       </ul>
       <span>
         <button type="button" class="btn btn-default "><i class="glyphicon glyphicon-plus" id="add_amount_workout"></i></button>
         <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-minus" id="minus_amount_workout"></i></button>
      </span>
   </div>
   <!-- row end -->

   <div class="btn-close2">
     <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
   </div>

 </div>
 <!-- container-fluid end -->
</div>
<!-- lightbox2 end -->
</div>



<div class="container">
<!-- Modal 윈도우 선언-->
  <div class="modal modal-center fade" id="goal_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <!-- 모달 다이얼로그 -->
      <div class="modal-dialog modal-center">
          <!-- 모달 콘텐츠 -->
          <div class="modal-content">
              <!-- modal-header -->
              <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel" style="font-weight: bold">기록 입력</h4>
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
              </div>
              <!-- modal-body -->
              <div class="modal-body">
                <form role="form" class="form-inline">
                    <div class="form-group">
                        <input type="number" class="form-control" id="set_num">
                        <label for="set_number">회</label>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" id="kg_num">
                        <label for="kg_number">kg</label>
                    </div>
                    <div class="form-group" id="set_workout_amt">
                        <button type="">확인</button>
                    </div>
                </form>
              </div>
          </div>
          <!-- 모달 콘텐츠 -->
      </div>
      <!-- 모달 다이얼로그 -->
  </div>
  <!-- 모달 전체 윈도우 -->
</div>
