<!DOCTYPE html>
<html lang="en">

<head>

  <% include ./css_sources.ejs %>
  <link href="./css/workout_list.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper">

      <% include ./sidebar.ejs %>

        <!-- 컨텐츠 영역 -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                  <div class="header" style="padding-left:90%; padding-top:1%; ">
                    <a href="/logout" class="btn btn-default btn-sm" style="background-color: rgb(200, 34, 38); color:white; font-size:1.1em; border-radius:7px" >로그아웃</a>
                  </div>
                  <div class="col-md-12" style="text-align: center; letter-spacing:5px">
                    <a href="#navigation-main" id="navigation_mobile" aria-label="Skip to main navigation"> <i class="fa fa-bars" aria-hidden="true"></i></a>
                  </div>
                </div>

                <div class="row">
                <% include ./calendar.ejs %>

              <!-- 운동 목록 영역 -->
              <div class="col-md-7">
                <h4 style="color:rgb(200, 34, 38); text-align:center">운동목록</h4>
                <!-- action 부분을 클릭 이벤트로 추가시킬 수 있게 해보자 -->
                <form method="post" action="/addinfo" id="add_workout_db">
                <ul class="list-group" id="day_workoutlist">
                    <div>
                      <span>운동 동작을 등록하세요!</span>&nbsp;&nbsp;
                      <span><button type="submit" name="">등록하기</button></span>
                    <div>
                      <!-- <li class="list-group-item day_list_title" style="border-left:none; border-right:none; border-bottom:none;"><a><input value="기본목록" name="motions" style="background-color:transparent; clear: none; border:0px none; border-image:none" readonly/></a></li> -->
                    <!-- <li class="list-group-item"><a href="#">기본 목록</a></li> -->
                </ul>

              <button type="button" id="button_add_workout_list" class="btn btn-default btn-circle btn-lg"><i id="plus" class="glyphicon glyphicon-plus"></i></button>
              </form>

              </div>
              <!-- col-md-7 -->

              </div>
               <!-- row -->

             </div>
             <!-- /# container-fluid -->

               <!-- 운동 목록 추가 & 운동 세부 목록 라이트창 열릴 때 배경색 설정 -->
               <div id="block"></div>

      </div>
      <!-- /#page-content-wrapper -->

      <% include ./workout_contents.ejs %>

     </div>
     <!-- /#wrapper -->

        <script src="./js/add_workout_list.js"></script>
        <script src="./js/calendar.js"></script>

        <!-- Bootstrap core JavaScript -->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Menu Toggle Script -->
        <script>
        // Toggle Menu 누를 때 왼쪽 사이드바 등장
        // $("#menu-toggle").click(function(e) {
        //     e.preventDefault();
        //     $("#wrapper").toggleClass("toggled");
        // });

        // 토글 항시 활성화
        $("#wrapper").addClass("toggled");

        // 메뉴 버튼 누를 때 사이드바 토글 활성화
        $("#navigation_mobile").click(function(e) {
          e.preventDefault();
          $("#wrapper").toggleClass("toggled");
        });


        // 모바일 해상도에서 메뉴버튼 활성화, 사이드바 없애기
        if (window.matchMedia("(max-width: 768px)").matches) {
          $("#wrapper").removeClass("toggled"); // 사이드바 퇴장
          $("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
        }

        // 768px이상 해상도에서 사이드바 등장
        if (window.matchMedia("(min-width: 768px)").matches) {
          // 라이트박스 닫기 할 경우 사이드바 등장
          $('.btn-close').click(function(){
            $("#wrapper").addClass("toggled"); // 사이드바 등장
        });
        $('.btn-close2').click(function(){
          $("#wrapper").addClass("toggled"); // 사이드바 등장
      });
      }

        // 768px 해상도 변화에 따른 jquery
        var mql = window.matchMedia("screen and (max-width: 768px)");

        mql.addListener(function(e) {
        		if(e.matches) {
        				$("#wrapper").removeClass("toggled"); // 사이드바 퇴장
        				$("#navigation_mobile").addClass("active"); // 메뉴 버튼 활성화
        		}
        		else {
        				$("#navigation_mobile").removeClass("active"); // 메뉴 버튼 비활성화
        		}
        	});

        </script>

    </body>

    </html>
