/* ****************************** */

/* 캘린더 함수 부분 */

 td > a { color: black; cursor: hand;}
 td > a:link { text-decoration : none; }
 td > a:hover { color: rgb(160, 160, 160); }

 th:first-child, td:first-child > a { color: rgb(200, 34, 38);}

#prev, #next{
  display: inline-block;
  text-decoration: none;;
}

/*캡션을 테이블 위로 두기*/
caption {
  caption-side:top;
}

/* ****************************** */

/* 운동 추가 버튼 부분 */

#button_add_workout_list {
  position:absolute;
  right: 30px;
  width: 50px;
  height: 50px;
  padding-left: 11px;
  padding-top: 6px;
  font-weight: lighter;
  border-radius: 25px;
  background-color: rgb(200, 34, 38);
}

#plus {
  color:white;
}

/* ****************************** */

/*테이블 윗 부분 공간 두기*/

.col-md-5 {
  padding-top:65px;
}

.col-md-7 {
  padding-top:10px;
}

/* 선택된 운동 목록 부분 */
#day_workoutlist > .list-group-item{
  border-left-color:white;
  border-right-color:white;
}

#day_workoutlist > .list-group-item:hover {
  background: #eeeeee;
  cursor:pointer;
}

/* ****************************** */

/* 라이트박스1(동작추가) 부분 */

#lightbox.active{
  position: absolute; overflow: scroll;
	background: white;
	width: 800px; height: 540px;
	left: 50%; margin-left: -400px;
	top: 50%; margin-top: -250px;
	box-sizing: border-box; padding: 5px;
	z-index: 99; display: block;
  padding-top: 10px;
}
/*  #lightbox에 .active 클래스가 없으면 라이트박스 표시 안됨 */
#lightbox{ display: none; }

/* 창닫기 버튼 */
.btn-close{
	position: absolute;
	top: 0px; right: 0px;
  padding: 5px 10px;
	color: black; font-size: 2.0em;
}

/* 운동 컨텐츠 부분 */
#tab-content > .tab-pane > .list-group {
  padding: 20px;
}

#tab-content > .tab-pane > .list-group img {
  width: 50px;
  height: 50px;
  margin-right: 50px;
}

#tab-content > .tab-pane > ul > .list-group-item{
  border-left-color:white;
  border-right-color:white;
}

#tab-content > .tab-pane > ul > .list-group-item:hover {
  background: #eeeeee;
  cursor:pointer;
}

/* ****************************** */

/* 라이트박스2(운동일지) 부분 */

/* ****** active 부분 ***** */
#lightbox2.active {
  position: absolute; overflow: scroll;
  background: white;
  width: 800px; height: 540px;
  left: 50%; margin-left: -400px;
  top: 50%; margin-top: -250px;
  box-sizing: border-box; padding: 5px;
  z-index: 99; display: block;
  padding-top: 10px;
}

#lightbox2 { display: none; }

.btn-close2{
	position: absolute;
	top: 0px; right: 0px;
  padding: 5px 10px;
  padding-right: 0px;
  padding-top: 0px;
	color: black; font-size: 2.0em;
}

#lightbox2 > .container-fluid > .row > .col-md-6 {
  padding : 10px;
  padding-right : 0px;
  padding-top : 20px;
}

#lightbox2 > .container-fluid > .row > .col-md-6 > div {
  background-color: rgb(240, 241, 242);
  height: 60px;
  padding: 10px;
  margin-top: 10px;
  padding-left: 20px;
  margin-bottom: 1.2em;
}

#lightbox2 > .container-fluid > .row > .col-md-6 > div > a:first-child {
  font-size: 1.3em;
}

#lightbox2 > .container-fluid > .row > .col-md-6 > div > a:last-child {
  color : rgb(160, 160, 160);
}

#lightbox2 > .container-fluid > .row > .col-md-6 > p {
  font-size: 1.1em;
  padding : 0 4px;
  color : rgb(140, 140, 140);
  font-weight: lighter;
}

#plan_workout_ul > .list-group-item:hover {
  background: #eeeeee;
  cursor:pointer;
}

#img_motion {
  width: 90%;
  height: auto;
  padding-left: 70px;
  padding-bottom : 20px;
}

#plan_workout_table > .list-group > li{
  border-left-color:white;
  border-right-color:white;
  padding : 5px;
  height : 90px;
  font-size: 1.3em;
}

#plan_workout_table > .list-group > li > p {
  font-size: 1.0em;
  /*font-weight: bolder;*/
}

#plan_workout_table > .list-group > li > span {
  float: right;
  padding-right: 2.5em;
  font-size: 1.1em;
  color: rgb(200, 34, 38);
}

#plan_workout_table > span {
  float: right;
  padding-right: 1.2em;
}

#plan_workout_table > span > button {
  right: 30px;
  width: 50px;
  height: 50px;
  padding-left: 11px;
  padding-top: 6px;
  font-weight: normal;
}

/* ****************************** */

/* 모달 부분 */

/* modal-header */
.modal-dialog {
  width: 80%;
  height: 80%
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 80%
}

.modal-header {
  padding: 13px;
  padding-left: 20px;
}

.modal-header > .close {
  padding-top: 3px;
}

.modal.modal-center {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal.modal-center:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }

  #set_num {
    /*width: 80%;*/
  }
}

.modal-dialog.modal-center {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* modal_content */

.form-group {
  margin-right: 25px;
}

.form-group > .form-control {
  width: 120px;
  margin-right: 5px;
}

.form-inline {
  padding-left: 40px;
}

.form-group > label {
  float:right;
  font-size: 1.3em;
  font-weight: normal;
  margin-top: 6px;
}

.form-group > button {
  font-size: 1.2em;
}

/* ****************************** */

/*라이트박스 내용 처리 부분*/
.add_workout_list_nav > h4 {
  color:rgb(200, 34, 38); font-weight:bold;
  font-size: 1.1em;
}

.add_workout_list_nav > li a {
  color: black;
}

/* ****************************** */

/* 라이트 박스 배경 처리 */
#block{
	display: none;
}

#block.active{
  position: fixed;
	width: 100%; height: 100%;
	top: 0; bottom: 0; left: 0; right: 0;
	background: #111;
	opacity: 0.3; z-index: 9;
  display: block;
}

/* ****************************** */

@media(max-width:768px) {
  /*라이트박스1 창 조절*/
  #lightbox.active{
    position: absolute; overflow: hidden;
  	background: white;
  	width: 95%; height: auto;
    left: 50%; margin-left: -48%;
  	top: 50%; margin-top: -250px;
  	box-sizing: border-box; padding: 5px;
  	z-index: 99; display: block;
    padding-top: 10px;
  }

  /*라이트박스2 창 조절*/
  #lightbox2.active{
    position: absolute; overflow: hidden;
    background: white;
    width: 100%; height: auto;
    left: 52%; margin-left: -48%;
    top: 50%; margin-top: -250px;
    box-sizing: border-box; padding: 5px;
    z-index: 99; display: block;
    padding-top: 10px;
  }

  /*운동 세트, 무게 기록 창 조절*/
  #plan_workout_table > .list-group > li{
    border-left-color:white;
    border-right-color:white;
    padding : 5px;
    height : 70px;
    font-size: 1.1em;
  }

  #lightbox2 > .container-fluid > .row > .col-md-6 > div > a:first-child {
    font-size: 1.1em;
  }

  #lightbox2 > .container-fluid > .row > .col-md-6 > p {
    font-size: 1.0em;
    padding : 0 4px;
    color : rgb(140, 140, 140);
    font-weight: lighter;
  }

  .list-group img {
    width: 40px;
    height: 40px;
    margin-right: 40px;
  }

  /* nav-tabs 가로 스크롤 지원 */
  .nav-tabs {
    overflow-x: scroll;
    overflow-y: hidden;
    display: -webkit-box;
    display: -moz-box;
  }
  .nav-tabs > li {
    float: none;
  }


  /* 컨텐츠 사이 공간 두기 */
  .col-md-5 {
    padding-top:10px;
  }

  .col-md-7 {
    padding-top:10px;
  }

  /* modal_content */
  .form-group {
    margin-right: 25px;
  }

  .form-group > .form-control {
    width: 80px;
    margin-right: 5px;
  }

  .form-inline {
    padding-left: 20px;
  }

  .form-group > label {
    float:right;
    font-size: 1.2em;
    font-weight: normal;
    margin-top: 6px;
  }

  .modal-content {
    margin-top: 80%;
  }


}
